Hi {first_name},

Thank you for your PyBay talk submission!

The review committee will begin reviewing submissions after the Call For Proposals ends.
We expect to let you know whether your talk has been selected within a few weeks of the closing date.

If you have any questions, please contact us.

Thanks for your interest in PyBay, and good luck!
-- The PyBay team


Information submitted for this talk proposal
--------------------------------------------
\nName: {first_name} {last_name}
\nEmail: {email}
\nPhone number: {phone}
\nSpeaker Profile: {speaker_bio}\n
\n
\n______________________________________________
\nTalk Title: {talk_title}
\nThemes: {themes}
\nLevel: {audience_level}
\nLength: {talk_length}
\nDescription: {description}
\nAbstract: {abstract}
\nWhat attendees will learn: {what_attendees_will_learn}
\nSpeaker and talk history: {speaker_and_talk_history}
\nSpeaker website: {website}
\nTalk links: {links_to_past_talks}
\nMeetup talk?: {meetup_talk}
