{% extends 'frontend/base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<section>
    <div class="container">
      <div class="col-md-12 no-padding clearfix">
          <div class="page-header pull-left">
              <h1>All Speakers</h1>
          </div>
      </div><!-- /.col-md-12 -->

<table border="1">

      {% for speaker in speakers %}
      <tr class="col-md-12">
          <td class="col-md-6">

                                                <img src="{% thumbnail speaker.photo '200x200' %}" alt="{{ speaker.name }}">
                                                <h2>{{ speaker.name }}</h2>
{{ speaker.biography | truncatechars:"300" }}
                                                            <a href="#"><i class="icon social_twitter"></i></a>
                                                            <a href="#"><i class="icon social_linkedin"></i></a>


    </td>
          <td class="col-md-6">
                                                <img src="{% thumbnail speaker.photo '200x200' %}" alt="{{ speaker.name }}">
                                                <h2>{{ speaker.name }}</h2>
                                                <span>{{ speaker.biography | truncatechars:"300" }}</span>
                                                            <a href="#"><i class="icon social_twitter"></i></a>
                                                            <a href="#"><i class="icon social_linkedin"></i></a>

 </td>

              </tr>
        {% endfor %}
</html>
<!--container -->
</section>
{% endblock content %}
