{% extends 'frontend/base.html' %}
{% load static %}
{% load thumbnail %}
{% load get_speaker_url_with_fallback %}


{% block content %}
<section class="topics duplicatable-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding clearfix">
          <h1 class="blue-header"><strong>All Speakers</strong></h1>
      </div><!-- /.col-md-12 -->
    </div>

    {% for speaker in speakers %}
      <div class="col-md-6">
        <img width=200 src="{% speaker_url_with_fallback speaker 200 %}" alt="{{ speaker.name }}">
        <h2><a href="{% url 'pybay_speakers_detail' speaker.name_slug %}">{{ speaker.name }}</a></h2>
        <span>{{ speaker.biography|truncatechars:"300" }}</span>
      </div>
    {% endfor %}
  </div><!--container -->
</section>
{% endblock content %}
