{% extends 'frontend/base.html' %}
{% load static %}

{% block sliders %}
    <li class="hero-slide">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="{% static 'new/img/sponsor_slider1.jpg' %}">
        </div>
        <div class="container">
            <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h1 class="large-h1 text-white">Bringing together Python's most forward thinking innovators &amp; developers.</h1>
                    </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </li>
    <li class="hero-slide">
        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="{% static 'new/img/sponsor_slider2.jpg' %}">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="large-h1 text-white">Bringing together Python's most forward thinking innovators &amp; developers.</h1>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </li>
    <li class="hero-slide">
        <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="{% static 'new/img/ch7.jpg' %}">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="large-h1 text-white">Bringing together Python's most forward thinking innovators &amp; developers.</h1>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </li>
        <li class="hero-slide">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="{% static 'new/img/cdbg.jpg' %}">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h1 class="large-h1 text-white">Bringing together Python's most forward thinking innovators &amp; developers.</h1>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
         </li>
{% endblock sliders %}
{% block content %}
<!-- Chart 3 ENDS -->
<div class="container">
        <div class="col-md-12 no-padding clearfix">
            <div class="page-header pull-left">
                          <br>
              <br>
              <br>
                <h1 class="blue-header"><strong>Our Sponsors</strong></h1>
            </div>
      </div>

      <section class="subscribe-2">

        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center" >

              <i class="icon pe-7s-medal icon-large"></i>

              <h1 class="large-h1">Gold Sponsors</h1>
            </div>
          </div>


        </div>

      </section>
      <!--{% for i in GOLDSPONSORS %}-->
      <section class="color-blocks">
        <div class="color-block col-md-6 col-sm-12" style="background-color:#FBBE3B";></div>
        <div class="color-block block-right col-md-6 col-sm-12" style="background-color:#FBBE3B";></div>

        <div class="container">
          <div class="row">
            <a href="#" class="block-content">
              <div class="col-md-2 col-sm-4 text-center">
                <i class="icon pe-7s-cash"></i>
              </div>

              <div class="col-md-4 col-sm-8">
                <h1>Sponsor name</h1>
                <p>This text, as sponsor name above, come from backend sponsor's description field. &nbsp;The desc should be less than 100 words in length. &nbsp;The backend field should be &nbsp;markdown capable.</p><p class="vdw">Link to home page (symposium field) when clicking on icon.</p><p>Use white/light yellow or different shades of grey in background instead of blues. &nbsp;Use black for text.</p><p>Can consider making one roll per sponsor and make this column longer. &nbsp;I have trouble scaling the image size down with the other templates.</p>
              </div>
            </a>

            <a href="#" class="block-content">
              <div class="col-md-2 col-sm-4 text-center">
                <i class="icon pe-7s-phone"></i></a>
              </div>

              <div class="col-md-4 col-sm-8">
                <h1>Here</h1>
                <p>HERE, the location cloud company, enables rich, real-time location applications and experiences for consumers, vehicles, enterprises and cities. HERE is backed by a consortium of leading automotive companies. To learn more about us, including our work in the areas of connected and automated driving, visit http://360.here.com.<br></p><p><br></p>
              </div>
          </div>
        </div>
      </section>
      <!--{% endfor %}-->

      <section class="color-blocks">
        <div class="color-block block-left col-md-6 col-sm-12" style="background-color:#FBBE3B";></div>
        <div class="color-block block-right col-md-6 col-sm-12" style="background-color:#FBBE3B";></div>

        <div class="container">
          <div class="row">
            <a href="#" class="block-content">
              <div class="col-md-2 col-sm-4 text-center">
                <i class="icon pe-7s-cash"></i>
              </div>

              <div class="col-md-4 col-sm-8">
                <h1>Yelp!</h1>
                <p>Yelp sees 89 million mobile users and 79 million desktop users every month. Keeping everything running smoothly requires the best and brightest in the industry. Our engineers come from diverse technical backgrounds and value digital craftsmanship, open-source, and creative problem solving. We write tests, review code, and push multiple times a day.&nbsp;</p><p>&nbsp;From operations and infrastructure teams that handle scaling traffic and building a deployment platform, to backend and frontend teams that build features to enable users to find what they’re searching for, we have a talented group of extraordinary engineers that will help you grow and succeed.</p>
              </div>
            </a>

            <a href="#" class="block-content">
              <div class="col-md-2 col-sm-4 text-center">
                <i class="icon pe-7s-phone"></i>
              </div>

              <div class="col-md-4 col-sm-8">
                <h1>Bloomberg</h1>
                <p>Bloomberg technology drives the world’s financial markets. Over 4,000 technologists define, architect, build and deploy complete systems to fulfill the needs of leading financial market participants globally. &nbsp;</p><p>In May 2015, Bloomberg opened its first west coast tech hub in San Francisco located in the landmark art deco PacBell Building at 140 New Montgomery Street. The hub is home to members of our Engineering team and Bloomberg Beta, a venture fund backed by Bloomberg L.P.. Bloomberg’s unique technology has transformed financial decision-making and brought transparency to global financial markets. This new hub will expand and evolve the company’s technological footprint, while attracting top engineering talent in the Bay Area</p>
              </div>
            </a>
          </div>
        </div>
      </section>
      <!--Silver -->
      <section class="subscribe-2">

        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">

              <i class="icon pe-7s-cup icon-large"></i>

              <h1 class="large-h1">Silver Sponsors</h1>
            </div>
          </div>
        </div>

      </section>

      <section class="color-blocks">
        <div class="color-block block-left col-md-6 col-sm-12" style="background-color:#c0c0c0"></div>
        <div class="color-block block-right col-md-6 col-sm-12"  style="background-color:#c0c0c0"></div>

        <div class="container">
          <div class="row">
            <a href="#" class="block-content">
              <div class="col-md-2 col-sm-4 text-center">
                <i class="icon pe-7s-cash"></i>
              </div>

              <div class="col-md-4 col-sm-8">
                <h1>Repeat for other levels</h1>
                <p>We may have additional categories of sponsors such as Media sponsors or community sponsors</p>
              </div>
            </a>

            <a href="#" class="block-content">
              <div class="col-md-2 col-sm-4 text-center">
                <i class="icon pe-7s-phone"></i>
              </div>

              <div class="col-md-4 col-sm-8">
                <h1>Zulip</h1>
                <p>Ask Chuck to make extra icons</p>
              </div>
            </a>
          </div>
        </div>
      </section>

      <!--Bronze -->
      <section class="subscribe-2">

        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">

              <i class="icon pe-7s-star icon-large"></i>

              <h1 class="large-h1">Bronze Sponsors</h1>
            </div>
          </div>
        </div>

      </section>
      <section class="color-blocks">
        <div class="color-block block-left col-md-6 col-sm-12" style="background-color:#8C7853"></div>
        <div class="color-block block-right col-md-6 col-sm-12" style="background-color:#8C7853"></div>

        <div class="container">
          <div class="row">
            <a href="#" class="block-content">
              <div class="col-md-2 col-sm-4 text-center">
                <i class="icon pe-7s-cash"></i>
              </div>

              <div class="col-md-4 col-sm-8">
                <h1>Repeat for other levels</h1>
                <p>We may have additional categories of sponsors such as Media sponsors or community sponsors</p>
              </div>
            </a>

            <a href="#" class="block-content">
              <div class="col-md-2 col-sm-4 text-center">
                <i class="icon pe-7s-phone"></i>
              </div>

              <div class="col-md-4 col-sm-8">
                <h1>Zulip</h1>
                <p>Ask Chuck to make extra icons</p>
              </div>
            </a>
          </div>
        </div>
      </section>

      <section class="sponsors">
        <div class="container">
          <div class="row">
          <h1 class="text-center" style="color: black;">Proudly Sponsored By</h1>
            <div class="col-sm-offset-1 col-sm-5">
              <div class="col-md-4 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                  <a href="#">
                    <img alt="Sponsor" src="img/sponsor1.png">
                  </a>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                  <a href="#">
                    <img alt="Sponsor" src="img/sponsor2.png">
                  </a>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                  <a href="#">
                    <img alt="Sponsor" src="img/sponsor3.png">
                  </a>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                  <a href="#">
                    <img alt="Sponsor" src="img/sponsor4.png">
                  </a>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                  <a href="#">
                    <img alt="Sponsor" src="img/sponsor5.png">
                  </a>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                  <a href="#">
                    <img alt="Sponsor" src="img/sponsor6.png">
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <span>Interested in becoming a sponsor? <a href="#">Get in touch</a></span>
            </div>
          </div>
        </div>
      </section>
    </div>
        </div><!-- /.col-md-12 -->
            <div class="separator col-md-12">
                <div class="pricely-chart pricely-professional">
                    <section class="pricely-chart-three col-xs-12">

                      {% if gold_sponsors %}
                          <h1>Gold Sponsors</h1>
                          {% for sponsor in gold_sponsors %}
                              {% include "frontend/sponsor_unit.html" %}
                          {% endfor %}
                      {% endif %}

                      {% if silver_sponsors %}
                          <h1>Silver Sponsors</h1>
                          {% for sponsor in silver_sponsors %}
                              {% include "frontend/sponsor_unit.html" %}
                          {% endfor %}
                      {% endif %}

                      {% if bronze_sponsors %}
                          <h1>Bronze Sponsors</h1>
                          {% for sponsor in bronze_sponsors %}
                              {% include "frontend/sponsor_unit.html" %}
                          {% endfor %}
                      {% endif %}
                    </section>
                </div>
            </div>
    </div><!--container -->
{% endblock content %}
